<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Staff/StaffIndex/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/TestimonialIndex/" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/Service/ServiceIndex/" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">Hizmetler</span>
                </a>
            </li>
            <li>
                <a href="/AdminAbout/AdminAboutIndex/" aria-expanded="false">
                    <i class="icon-info menu-icon"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/AdminRoomIndex/" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Odalar</span>
                </a>
            </li>
            <li>
                <a href="/Guest/GuestIndex/" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Misafirler</span>
                </a>
            </li>
        </ul>
    </div>
</div>